/BusinessLayer/nbproject/private/
/DataAccessLayer/nbproject/private/
/PresentationLayer/nbproject/private/
/prueba-business-layer/nbproject/private/
/prueba-presentation-layer/nbproject/private/
/prueba-business-layer/build/
/prueba-dataaccess-layer/build/
/prueba-presentation-layer/build/
/todoenuno/nbproject/private/