<fieldset>
    <div ng-repeat="row in numRow">
        <div class="row">
            <section class="col col-6 " 
                     ng-repeat="item in modelEstructura.slice((row === 0 ? row : (row * numColumn)), (row === 0 ? numColumn : ((row * numColumn) + numColumn)))">
                <div ng-if="item.isForeign">
                    <label class="input">
                        <div class="input-group">
                            <input placeholder="{{item.labelName}}" ng-disabled="true" ng-model="item.description" 
                                   type="text" name="{{item.columnName}}" id="{{item.columnName}}" 
                                   class="form-control" required />
                            <span class="input-group-addon" ng-click="openLupaAction(item)">
                                <img src="img/imgElenaSchool/imgLupa.png" />
                            </span>
                        </div>
                    </label>
                </div>
                <div ng-if="!item.isForeign">
                    <label class="input" ng-class="{'state-error invalid' : formOperation.{{item.columnName}}.$invalid && !formOperation.{{item.columnName}}.$pristine}">
                        <input placeholder="{{item.labelName}}" ng-disabled="(!isModeInsert && !isModeEdit) || item.isPrimary" 
                               ng-model="item.valor" name="{{item.columnName}}" id="{{item.columnName}}" 
                               class="form-control" 
                               required />
                    </label>
                </div>
                <em ng-show="formOperation.{{item.columnName}}.$invalid && !formOperation.{{item.columnName}}.$pristine" 
                    for="{{item.columnName}}" class="invalid">Campo {{item.labelName}} es requerido.</em>
            </section>
        </div>
    </div>
</fieldset>