<div class="top well-lg border-buttons" >
        <div class="btn-group-xs">
            <button class="btn btn-transparente btn-xs" ng-click="" title="Primero">
                <img src="images/firts.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Anterior">
                <img src="images/previous.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Siguiente">
                <img src="images/next.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Último">
                <img src="images/last.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Agregar">
                <img src="images/add.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Editar">
                <img src="images/pencil.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Guardar">
                <img src="images/success.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Cancelar">
                <img src="images/cancel.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Tabla">
                <img src="images/table.png" />
            </button> 
        </div>
</div>