<div class="top well-lg border-buttons" >
        <div class="btn-group-xs">
            <button class="btn btn-transparente btn-xs" ng-click="firtsGridAction()" ng-disabled="!isActivoGrid || gridFormulario.actualPage === 0" title="Primero">
                <img src="images/firts.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="previousGridAction()" ng-disabled="!isActivoGrid" title="Anterior">
                <img src="images/previous.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="nextGridAction()" ng-disabled="!isActivoGrid" title="Siguiente">
                <img src="images/next.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="lastGridAction()" ng-disabled="!isActivoGrid || gridFormulario.actualPage === gridFormulario.totalPages" title="Último">
                <img src="images/last.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Agregar">
                <img src="images/add.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Editar">
                <img src="images/pencil.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Guardar">
                <img src="images/success.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-click="" title="Cancelar">
                <img src="images/cancel.png" />
            </button>
            <button class="btn btn-transparente btn-xs" ng-disabled="gridFormulario.data.length === 0" ng-click="openViewFormToTableAction()" title="Tabla">
                <img src="images/table.png" />
            </button> 
            <button class="btn btn-transparente btn-xs" ng-click="openQueryTablaAction()" title="Consultar Tabla">
                <img src="images/queryTable.png" />
            </button> 
        </div>
</div>