<div class="row">
    <div class="col-xs-12">
        <h2 class="page-header">Formulario dinámico tabla <small>{{modelEstructura[0].nameTable}}</small></h2>
    </div>
</div>
<div ng-repeat="row in numRow">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-3" ng-repeat="item in modelEstructura.slice((row === 0 ? row : (row * numColumn)), (row === 0 ? numColumn : ((row * numColumn) + numColumn)))">
            <div ng-if="item.isForeign">
                <div class="form-group">
                    <label>{{item.labelName}}</label>
                    <div class="input-group">
                        <input ng-model="item.Valor" type="text" class="form-control" />
                        <span class="input-group-addon" ng-click="openLupaAction(item.foreignTableName)">
                            <img src="images/lupa.png" />
                        </span>
                    </div>
                </div>
            </div>
            <div ng-if="!item.isForeign">
                <div class="form-group">
                    <label>{{item.labelName}}</label>
                    <input ng-model="item.Valor" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
