<div class="row">
    <div class="col-xs-12">
        <div ui-i18n="{{lenguaje}}">
            <div id="grid" ui-grid="gridFormulario" ui-grid-cellNav ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter class="grid"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-click="searchPageAction()" ng-model="isSearchPage" />
                Ir pagina especifica
            </label>
        </div>
    </div>
</div>
<div class="row" ng-show="isSearchPage">
    <div class="col-xs-12 col-md-12 col-lg-2">
        <div class="form-group">
            <select class="form-control"></select>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-2">
        <div class="form-group">
            <button class="btn btn-primary">Ir</button>
        </div>
    </div>
</div>
