<!--Header modal-->
<div class="modal-header">
    <button type="button"
            class="close"
            ng-click="closeQueryTableAction()"
            data-dissmiss="modal" aria-hidden="true">
        &times;
    </button>
    <h3>Consultar tabla <small>{{modelEstructura[0].nameTable}}</small></h3>
</div>
<!--Body modal-->
<div class="modal-body-scrollbar">

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Columna</th>
                <th>Tipo Dato</th>
                <th>Valor a Consultar</th>
                <th>Order Asc</th>
                <th>Order Desc</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in modelEstructura">
                <td>{{row.columnName}}</td>
                <td>{{row.dateType}}</td>
                <td>
                    <div class="form-group">
                        <input ng-model="row.Valor" id="{{row.columnName}}" name="{{row.columnName}}" class="form-control input-sm" type="text" />
                    </div>
                </td>
                <th>
                    <input type="radio" ng-model="row.isOrderAscending" value="1" />
                </th>
                <th>
                    <input type="radio" ng-model="row.isOrderAscending" value="2" />
                </th>
            </tr>
        </tbody>
    </table>

</div>
<!--footer modal-->
<div class="modal-footer">
    <button type="submit" 
            ng-click="closeQueryTableAction()" 
            name="" 
            class="btn btn-default">Cancelar</button>
    <button type="submit"  
            ng-click="prueba()" 
            name=""
            class="btn btn-primary">Aceptar</button>
</div>