/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-dic-2016, 12:25:00
    Author     : AdrianL
*/

#header{
    background: #2C3742;
}

.modal-header .close {
    color: #FFF;
}

.modal-header {
    background: /*#931313*/ #2C3742;
    border: 1px #030405 solid;
}

.modal-footer {
    background: rgba(248,248,248,.9);
}

#logo-group span#activity, .btn-header>:first-child>a {
    background-color: #2C3742;
    background-image: -moz-linear-gradient(top,#2C3742,#2C3742);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#2C3742),to(#2C3742));
    background-image: -webkit-linear-gradient(top,#2C3742,#2C3742);
    background-image: -o-linear-gradient(top,#2C3742,#2C3742);
    background-image: linear-gradient(to bottom,#2C3742,#2C3742);
    color: #fff!important;
    border: 1px solid #030405;
    border-top-color: #030405;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #030405;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #030405;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #030405;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-shadow: #030405 0 -1px;
}

#ribbon .breadcrumb, #ribbon .breadcrumb a {
    color: #BBB!important;
    text-decoration: none!Important;
}

#ribbon {
    background: #fff;
}

#ribbon .breadcrumb li:last-child, #ribbon .breadcrumb>.active {
    color: #5F5F5F;
}

.page-footer, .superbox-show {
    background: #2C3742;
}

/* Color iconos */  
nav>ul>li>a>i {
    color: #356E35; /*#C79121 #2C3742; /*#931313; /*#058dc7;*/
    font-size: 13px;
    font-family: Arial,sans-serif;
}

.login-info span {
    border-bottom: none;
}

.login-info a span {
    color: #444!important;
}

.minified nav ul li a, .minified nav ul li.open>a, .minified nav ul li.open>a b {
    color: #fff!important;
}

.minified nav>ul>li {
    border-bottom: 1px solid #E9E4E4;
    border-top: 1px solid #FFF;
}

nav ul li.active>a:before {
    color: #bbb;
}

nav ul .active>a {
    color: #444!important;
    position: relative;
}

nav>ul>li>a {
    border-bottom: 1px solid #ccc;
}

nav ul li a:hover {
    background: rgba(0,0,0,.05)!important;
}

nav ul ul li>a {
    font-size: 13px;
}

nav ul li.active>a {
    font-weight: 700;
}

nav ul li a, nav ul li.open>a, nav ul li.open>a b {
    color: #444!important;
    font-family: Arial,sans-serif;
    font-size:13px;
}

nav ul ul {
    background: 0 0;
    background-image: initial;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

aside {
    background: #f2f2f2;
    border-right: 2px solid #ccc;
}

nav ul li a:hover {
    background: rgba(0,0,0,.05)!important;
}

body {
    font-family: Arial,sans-serif;
}

#hide-menu i {
    color: #FFF;
}


.login-info {
    display: block;
    font-size: 12px;
    height: 39px;
    color: #fff;
    border: solid transparent;
    border-width: 1px 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    width: 100%;
    margin: 0!important;
    border-bottom: 1px solid #ccc;
}

.col-12{
    width:100%;
}

.invalid {
    color: #D56161;
}

.smart-form .checkbox.state-error i, .smart-form .radio.state-error i, .smart-form .state-error input, .smart-form .state-error select, .smart-form .state-error textarea, .smart-form .toggle.state-error i {
    background: #fff0f0;
    border-color: #A90329;
}

/* Border debajo de los botones */
.btn {  
    -webkit-box-shadow: none;
}

.smart-form .toggle i{
    right: inherit;
    top: 30px;
}

.smart-form .toggle {
    font-size: 13px;
}

