<!--
- @description Pagina Maestra para realizar operaciones CRUD Basico
- @autor Adrian Lopez
- @since 13 dic 2016
-->
<form name="formModel" novalidate ng-init="getEstructuraTablaAction('grupo_academico')">
    <div ng-include="'includes/controls/buttons.html'"></div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">Formulario dinámico tabla <small>{{modelEstructura[0].nameTable}}</small></h2>
        </div>
    </div>
    <div ng-include="'includes/controls/formulario.html'" ng-show="!isActivoGrid"></div>
    <div ng-include="'includes/controls/grid.html'" ng-hide="!isActivoGrid"></div>
</form>
